doctype html
html(lang='en')
  head
    title Pokedex
    meta(charset="utf-8")
    script(src='./script/pokedex.js' defer)
    link(rel='stylesheet', type='text/css', href='./css/pokemon.css') 
  body
    header
      h1 Pokedex
    main
      section.list
        ul
          - for (var i = 0; i < 12; i++)
            li 
              span(onclick="select(this)")
                img
                h2
                types
                  p
                  p
      sidebar
        div
          img#pic
          h2 TEST
          table(cellpadding="5px")
            mixin tabl(name)
              tr
                td(align="center", width="70%")= name
                td(align="center", id= name)
            +tabl("Type")
            +tabl("Attack")
            +tabl("Defense")
            +tabl("HP")
            +tabl("SP_Attack")
            +tabl("SP_Defense")
            +tabl("Speed")
            +tabl("Weight")
            +tabl("Total_moves") 
    footer
      button(onclick="change()") 
        h2 Load More        
    
    