doctype html
html(lang='en')
  head
    title Pokemons
    meta(charset="utf-8")
    script(src='./script/test.js')
    link(rel='stylesheet', type='text/css', href='./css/scriptum.css') 
  body
    div
    
    