ul,
li {
  all: unset;
}
body {
  margin: 50px auto;
  max-width: 800px;
}
header,
li,
sidebar div,
img,
table,
td,
tr {
  border: solid 1px black;
}
h1 {
  margin: 0px auto;
}
header {
  max-width: 460px;
  margin: 0px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
li,
sidebar {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
}
.list {
  max-width: 495px;
}
li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 139px;
  height: 199px;
  cursor: pointer;
}
.list img {
  margin-top: 9px;
  margin-left: 10px;
  height: 120px;
  width: 120px;
}
span h2 {
  font-size: 16px;
  margin: 0px;
  text-align: center;
}
types {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
types p {
  width: 60px;
  text-align: center;
  /*border-radius: 5px;*/
  margin: 5px 5px;
}
main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
sidebar {
  visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
sidebar div {
  max-width: 283px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
sidebar img {
  margin: 19px 19px;
  height: 240px;
  width: 240px;
}
table {
  border-collapse: collapse;
  width: 240px;
  margin-bottom: 19px;
}
footer {
  max-width: 465px;
}
footer button {
  margin-top: 20px;
  background-color: #00ffff ;
  width: 100%;
  /*height: 40px;*/
  border-radius: 10px;
}
