ul,
li,
a {
  all: unset;
}
body {
  margin: 25px;
  min-width: 270px;
  max-width: 680px;
}
h1 {
  margin: 0;
}
header {
  display: flex;
}
header,
li {
  border: solid 1px black;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
}
.list {
  max-width: 550px;
}
li {
  display: inline-flex;
  max-width: 140px;
  width: 140px;
  max-height: 140px;
}
